<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<body>
    <video width="600px" height="400px" controls id = "v">
        <!-- <source src="http://localhost:3000/video/upload_268b85e11eb9e98018ef32bc78b05c00.mp4" type="video/mp4" media=""> -->
        <!-- <source src="../video/upload_268b85e11eb9e98018ef32bc78b05c00.mp4" type="video/mp4" media=""> -->
        <!-- <source src="../video/upload_7497fa453d761abd15a4c694b3019506" type="video/mp4" media=""> -->
        <source src="http://localhost:3000/video/upload_1" type="video/mp4" media="">
    </video>
    <img src="http://localhost:3000/video/upload_2" width="600px" height="400px" alt="">
</body>
</html>