img.svg{
    width: 36px;
    height: 36px;
}
span.name{
        margin: 0 20px 0 10px;
        vertical-align: bottom;
        font-size: 20px;
        line-height: 40px;
}
span.up{
    border:1px solid #fff;
    border-radius:3px;
    font-size:10px;
    text-transform: uppercase;
}